{% extends 'base.html.twig' %}

{% block title %}Criar Série{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Criar Série</h1>
    <form method="post">
        <div class="form-group">
            <label for="name" class="mb-2">Nome da série:</label>
            <input type="text" name="name" id="name" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Criar Série</button>
    </form>
    <a href="{{ path('app_series') }}" class="btn btn-secondary mt-3">Mostrar listagem das séries</a>
</div>
{% endblock %}
